<template id="aside-home">
    <div class="aside-home">
        <div class="profile card">
            <div class="profile-image" style="background-image: url('/rc/profile.webp');"></div>
            <div class="author">
                <%= author %>
            </div>
            <div class="bio">
                <%= bio %>
            </div>
            <div class="info">
                <div class="item">
                    <div class="description">Posts</div>
                    <div class="number">
                        <%= postNumber %>
                    </div>
                </div>
                <div class="item">
                    <div class="description">Tags</div>
                    <div class="number">
                        <%= tagNumber %>
                    </div>
                </div>
                <div class="item">
                    <div class="description">Days</div>
                    <div class="number">
                        <%= dayNumber %>
                    </div>
                </div>
            </div>
            <a class="button" href="https://github.com/YesDevelop" target="_blank">My GitHub</a>
            <div class="last-update">
                <span>Last updated on</span>
                <span>
                    <%= lastUpdateDate %>
                </span>
            </div>
        </div>
        <div class="announce card">
            <div class="headline">Blogs</div>
            <div class="text">
                <%- include("../_content/announce-en.ejs") %>
            </div>
        </div>
    </div>
</template>
